#Content based Movie Recommendation

In [34]:
# Importing Required Libraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
# Function to access index from movie title and vice versa
def get_title_from_index(index):
	return df[df.index == index]["title"].values[0]

def get_index_from_title(title):
	return df[df.title == title]["index"].values[0]

In [36]:
# Reading data as df
df = pd.read_csv("movie_dataset.csv")

Visualizing Data

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [38]:
df.describe()

             index        budget  ...  vote_average    vote_count
count  4803.000000  4.803000e+03  ...   4803.000000   4803.000000
mean   2401.000000  2.904504e+07  ...      6.092172    690.217989
std    1386.651002  4.072239e+07  ...      1.194612   1234.585891
min       0.000000  0.000000e+00  ...      0.000000      0.000000
25%    1200.500000  7.900000e+05  ...      5.600000     54.000000
50%    2401.000000  1.500000e+07  ...      6.200000    235.000000
75%    3601.500000  4.000000e+07  ...      6.800000    737.000000
max    4802.000000  3.800000e+08  ...     10.000000  13752.000000

[8 rows x 8 columns]

In [39]:
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [40]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [41]:
""" There are four features that affect recommendation the most, keywords, genres, cast, and director."""

' There are four features that affect recommendation the most, keywords, genres, cast, and director.'

Using all four features

In [42]:
features = ['keywords','cast','genres','director']

In [43]:
# Replacing null values by empty string
for feature in features:
    df[feature] = df[feature].fillna('')

In [44]:
# Combining features into a single column
def combine_features(row):
    return row['keywords']+" "+row['cast']+" "+row['genres']+" "+row['director']
df["combined_features"] = df.apply(combine_features,axis=1)

In [45]:
df['combined_features'].head()

0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6 Dan...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_features, dtype: object

In [46]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combined_features'])

In [47]:
cosine_sim = cosine_similarity(count_matrix)
movie_user_likes = "Avatar"

In [48]:
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [49]:
sorted_similar_movies = sorted(similar_movies,key = lambda x:x[1],reverse=True)

In [50]:
i=0
for movie in sorted_similar_movies:
    print(get_title_from_index(movie[0]))
    i+=1
    if i>10:
        break

Avatar
Guardians of the Galaxy
Aliens
Star Wars: Clone Wars: Volume 1
Star Trek Into Darkness
Star Trek Beyond
Alien
Lockout
Jason X
The Helix... Loaded
Moonraker

Using Genre and Keywords only

In [51]:
features_1 = ['keywords','genres']

In [52]:
def combine_features_1(row):
    return row['keywords']+" "+row['genres']
df["combined_features_1"] = df.apply(combine_features_1,axis=1)

In [53]:
df["combined_features_1"].head()

0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6 Act...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_features_1, dtype: object

In [54]:
cv_1 = CountVectorizer()
count_matrix_1 = cv_1.fit_transform(df['combined_features_1'])

In [55]:
cosine_sim_1 = cosine_similarity(count_matrix_1)
movie_user_likes = "Avatar"

In [56]:
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim_1[movie_index]))

In [57]:
sorted_similar_movies = sorted(similar_movies,key = lambda x:x[1],reverse=True)

In [58]:
i=0
for movie in sorted_similar_movies:
    print(get_title_from_index(movie[0]))
    i+=1
    if i>10:
        break

Avatar
Star Wars: Clone Wars: Volume 1
Guardians of the Galaxy
Planet of the Apes
Jupiter Ascending
Star Trek Into Darkness
Star Trek Beyond
Moonraker
Jason X
Silent Running
Oblivion

Using cast and director

In [59]:
features_2 = ['cast','director']

In [60]:
def combine_features_2(row):
    return row['cast']+" "+row['director']
df["combined_features_2"] = df.apply(combine_features_2,axis=1)

In [61]:
df["combined_features_2"].head()

0    Sam Worthington Zoe Saldana Sigourney Weaver S...
1    Johnny Depp Orlando Bloom Keira Knightley Stel...
2    Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3    Christian Bale Michael Caine Gary Oldman Anne ...
4    Taylor Kitsch Lynn Collins Samantha Morton Wil...
Name: combined_features_2, dtype: object

In [62]:
cv_2 = CountVectorizer()
count_matrix_2 = cv_2.fit_transform(df['combined_features_2'])

In [63]:
cosine_sim_2 = cosine_similarity(count_matrix_2)
movie_user_likes = "Avatar"

In [64]:
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim_2[movie_index]))

In [65]:
sorted_similar_movies = sorted(similar_movies,key = lambda x:x[1],reverse=True)

In [66]:
i=0
for movie in sorted_similar_movies:
    print(get_title_from_index(movie[0]))
    i+=1
    if i>10:
        break

Avatar
Aliens
Oz: The Great and Powerful
Furious 7
Guardians of the Galaxy
Galaxy Quest
Colombiana
Snow White: A Tale of Terror
Gettysburg
Out of the Furnace
Imaginary Heroes