<h1 style="color:blue;text-align:center;">BUILT-IN FUNCTIONS</h1>
<ul>
    <li>Built-in Python functions are always available on command</li>
    <li>As of Python 3.12, there are almost 70+ built in functions</li>
    <li><a href="https://docs.python.org/3/library/functions.html">Link to official DOC</a></li>
</ul>

In [2]:
import random as rd
rd.seed(10)
numbers = rd.sample(range(10, 100), k = 10)
numbers

[83, 14, 64, 71, 11, 36, 69, 72, 45, 93]

In [3]:
max(numbers)
min(numbers)
sum(numbers)
round(9.12345, 4)
abs(10)
eval("4.5")
pow(4, 2)
10**2

100

In [4]:
new_numbers = sorted(numbers)
new_numbers

[11, 14, 36, 45, 64, 69, 71, 72, 83, 93]

In [5]:
numbers

[83, 14, 64, 71, 11, 36, 69, 72, 45, 93]

In [6]:
[pow(x, 2) for x in new_numbers]

[121, 196, 1296, 2025, 4096, 4761, 5041, 5184, 6889, 8649]

In [7]:
sum([i < 40 for i in new_numbers])

3

In [8]:
data = ["10", 8.12345, 100, -30, -200]
data

['10', 8.12345, 100, -30, -200]

In [9]:
new_data = eval(data[0]) + int(data[1]) + data[2] + abs(data[3]) + abs(data[
4])
new_data
data

['10', 8.12345, 100, -30, -200]

In [12]:
clean_data = sorted([abs(k) for k in [int(i) for i in data]])[2:][3::-1]
clean_data

[200, 100, 30]

In [13]:
"The top three values {0}, {1}, and {2}. My favourite number is {0}".format(*clean_data)

'The top three values 200, 100, and 30. My favourite number is 200'