## **Web Scraping For Movie**

**Web Scrapping for All Critics**

In [9]:
import requests
from bs4 import BeautifulSoup

In [28]:
page_urls = ['https://www.rottentomatoes.com/m/titanic/reviews','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=2','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=3','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=4','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=5','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=6','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=7','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=8','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=9','https://www.rottentomatoes.com/m/titanic/reviews?type=&sort=&page=10']

In [29]:
reviews = []
tomato = []
name = []
date = []


for url in page_urls:
    response = requests.get(url)
    if response.status_code != 200:
        continue
    else:
        html_code = response.content
        soup = BeautifulSoup(html_code, 'lxml')
        review_table = soup.find('div',{'class':'review_table'})
        for i in review_table.find_all('div',{'class':'the_review'}):
            reviews.append(i.get_text(strip=True))
        for j in review_table.find_all('div',{'class':'col-xs-16 review_container'}):
            a=j.find('div',{'class':'review_icon icon small fresh'}) or j.find('div',{'class':'review_icon icon small rotten'})
            tomato.append(a.attrs['class'][-1])
        for i in review_table.find_all('a',{'class':'unstyled bold articleLink'}):
            name.append(i.get_text(strip=True))
        for i in review_table.find_all('div',{'class':'review-date subtle small'}):
            date.append(i.get_text(strip=True))

In [30]:
import pandas as pd
titanic_reviews = pd.DataFrame(zip(name,reviews,tomato,date), columns=['Name','All Critics Reviews','Rotten/Fresh','Date'])

In [31]:
titanic_reviews

                Name  ...                Date
0        David Walsh  ...   February 12, 2021
1        Mike Massie  ...  September 25, 2020
2        Geoff Brown  ...    February 6, 2020
3      Nigel Andrews  ...    February 6, 2020
4      Rachel Wagner  ...       June 28, 2019
..               ...  ...                 ...
186    Robert Horton  ...     January 1, 2000
187      Susan Stark  ...     January 1, 2000
188     Mick LaSalle  ...     January 1, 2000
189  Richard Corliss  ...     January 1, 2000
190       Scott Nash  ...     January 1, 2000

[191 rows x 4 columns]

In [32]:
titanic_reviews.to_csv("titanic_reviews_all_critics.csv",index=True)

**Web Scrapping for Top Critics**

In [33]:
page_urls1 = ['https://www.rottentomatoes.com/m/titanic/reviews?type=top_critics','https://www.rottentomatoes.com/m/titanic/reviews?type=top_critics&sort=&page=2','https://www.rottentomatoes.com/m/titanic/reviews?type=top_critics&sort=&page=3','https://www.rottentomatoes.com/m/titanic/reviews?type=top_critics&sort=&page=4']

In [34]:
reviews1 = []
tomato1 = []
name1 = []
date1 = []


for url in page_urls1:
    response = requests.get(url)
    if response.status_code != 200:
        continue
    else:
        html_code = response.content
        soup = BeautifulSoup(html_code, 'lxml')
        review_table = soup.find('div',{'class':'review_table'})
        for i in review_table.find_all('div',{'class':'the_review'}):
            reviews1.append(i.get_text(strip=True))
        for j in review_table.find_all('div',{'class':'col-xs-16 review_container'}):
            a=j.find('div',{'class':'review_icon icon small fresh'}) or j.find('div',{'class':'review_icon icon small rotten'})
            tomato1.append(a.attrs['class'][-1])
        for i in review_table.find_all('a',{'class':'unstyled bold articleLink'}):
            name1.append(i.get_text(strip=True))
        for i in review_table.find_all('div',{'class':'review-date subtle small'}):
            date1.append(i.get_text(strip=True))

In [35]:
import pandas as pd
titanic_reviews = pd.DataFrame(zip(name1,reviews1,tomato1,date1), columns=['Name','Top Critics Reviews','Rotten/Fresh','Date'])

In [36]:
titanic_reviews

                 Name  ...               Date
0         Geoff Brown  ...   February 6, 2020
1       Nigel Andrews  ...   February 6, 2020
2      Quentin Curtis  ...   February 6, 2019
3         Duane Byrge  ...  December 26, 2018
4        Jack Mathews  ...    January 3, 2018
..                ...  ...                ...
67  Stanley Kauffmann  ...    January 1, 2000
68      Robert Horton  ...    January 1, 2000
69        Susan Stark  ...    January 1, 2000
70       Mick LaSalle  ...    January 1, 2000
71    Richard Corliss  ...    January 1, 2000

[72 rows x 4 columns]

In [37]:
titanic_reviews.to_csv("titanic_reviews_top_critics.csv",index=True)