## **Data Exploration**

In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('/content/50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
data.shape

(50, 5)

In [7]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [8]:
data.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [9]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

## **Data Preparation**

In [10]:
data.isnull().sum()   #to check for any null/missing values.

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [11]:
data.isnull().sum().sum()

0

In [13]:
data['State'].nunique()

3

In [14]:
data['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [18]:
# converting State column which is object datatype to int data type.
columns=['State']
data1=data[columns]
dummies=pd.get_dummies(data1,columns=['State'])
dummies

    State_California  State_Florida  State_New York
0                  0              0               1
1                  1              0               0
2                  0              1               0
3                  0              0               1
4                  0              1               0
5                  0              0               1
6                  1              0               0
7                  0              1               0
8                  0              0               1
9                  1              0               0
10                 0              1               0
11                 1              0               0
12                 0              1               0
13                 1              0               0
14                 0              1               0
15                 0              0               1
16                 1              0               0
17                 0              0               1
18                 0              1               0
19                 0              0               1
20                 1              0               0
21                 0              0               1
22                 0              1               0
23                 0              1               0
24                 0              0               1
25                 1              0               0
26                 0              1               0
27                 0              0               1
28                 0              1               0
29                 0              0               1
30                 0              1               0
31                 0              0               1
32                 1              0               0
33                 0              1               0
34                 1              0               0
35                 0              0               1
36                 0              1               0
37                 1              0               0
38                 0              0               1
39                 1              0               0
40                 1              0               0
41                 0              1               0
42                 1              0               0
43                 0              0               1
44                 1              0               0
45                 0              0               1
46                 0              1               0
47                 1              0               0
48                 0              0               1
49                 1              0               0

In [19]:
mergeddata= pd.concat([data,dummies],axis='columns')
mergeddata

,R&D Spend,Administration,Marketing Spend,State,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,0,1
1,162597.70,151377.59,443898.53,California,191792.06,1,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,0,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,0,1,0
5,131876.90,99814.71,362861.36,New York,156991.12,0,0,1
6,134615.46,147198.87,127716.82,California,156122.51,1,0,0
7,130298.13,145530.06,323876.68,Florida,155752.60,0,1,0
8,120542.52,148718.95,311613.29,New York,152211.77,0,0,1
9,123334.88,108679.17,304981.62,California,149759.96,1,0,0
10,101913.08,110594.11,229160.95,Florida,146121.95,0,1,0
11,100671.96,91790.61,249744.55,California,144259.40,1,0,0
12,93863.75,127320.38,249839.44,Florida,141585.52,0,1,0
13,91992.39,135495.07,252664.93,California,134307.35,1,0,0
14,119943.24,156547.42,256512.92,Florida,132602.65,0,1,0
15,114523.61,122616.84,261776.23,New York,129917.04,0,0,1
16,78013.11,121597.55,264346.06,California,126992.93,1,0,0
17,94657.16,145077.58,282574.31,New York,125370.37,0,0,1
18,91749.16,114175.79,294919.57,Florida,124266.90,0,1,0
19,86419.70,153514.11,0.00,New York,122776.86,0,0,1
20,76253.86,113867.30,298664.47,California,118474.03,1,0,0
21,78389.47,153773.43,299737.29,New York,111313.02,0,0,1
22,73994.56,122782.75,303319.26,Florida,110352.25,0,1,0
23,67532.53,105751.03,304768.73,Florida,108733.99,0,1,0
24,77044.01,99281.34,140574.81,New York,108552.04,0,0,1
25,64664.71,139553.16,137962.62,California,107404.34,1,0,0
26,75328.87,144135.98,134050.07,Florida,105733.54,0,1,0
27,72107.60,127864.55,353183.81,New York,105008.31,0,0,1
28,66051.52,182645.56,118148.20,Florida,103282.38,0,1,0
29,65605.48,153032.06,107138.38,New York,101004.64,0,0,1
30,61994.48,115641.28,91131.24,Florida,99937.59,0,1,0
31,61136.38,152701.92,88218.23,New York,97483.56,0,0,1
32,63408.86,129219.61,46085.25,California,97427.84,1,0,0
33,55493.95,103057.49,214634.81,Florida,96778.92,0,1,0
34,46426.07,157693.92,210797.67,California,96712.80,1,0,0
35,46014.02,85047.44,205517.64,New York,96479.51,0,0,1
36,28663.76,127056.21,201126.82,Florida,90708.19,0,1,0
37,44069.95,51283.14,197029.42,California,89949.14,1,0,0
38,20229.59,65947.93,185265.10,New York,81229.06,0,0,1
39,38558.51,82982.09,174999.30,California,81005.76,1,0,0
40,28754.33,118546.05,172795.67,California,78239.91,1,0,0
41,27892.92,84710.77,164470.71,Florida,77798.83,0,1,0
42,23640.93,96189.63,148001.11,California,71498.49,1,0,0
43,15505.73,127382.30,35534.17,New York,69758.98,0,0,1
44,22177.74,154806.14,28334.72,California,65200.33,1,0,0
45,1000.23,124153.04,1903.93,New York,64926.08,0,0,1
46,1315.46,115816.21,297114.46,Florida,49490.75,0,1,0
47,0.00,135426.92,0.00,California,42559.73,1,0,0
48,542.05,51743.15,0.00,New York,35673.41,0,0,1
49,0.00,116983.80,45173.06,California,14681.40,1,0,0

In [23]:
newdata=mergeddata.drop(['State'],axis='columns')
newdata

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0
5,131876.90,99814.71,362861.36,156991.12,0,0,1
6,134615.46,147198.87,127716.82,156122.51,1,0,0
7,130298.13,145530.06,323876.68,155752.60,0,1,0
8,120542.52,148718.95,311613.29,152211.77,0,0,1
9,123334.88,108679.17,304981.62,149759.96,1,0,0
10,101913.08,110594.11,229160.95,146121.95,0,1,0
11,100671.96,91790.61,249744.55,144259.40,1,0,0
12,93863.75,127320.38,249839.44,141585.52,0,1,0
13,91992.39,135495.07,252664.93,134307.35,1,0,0
14,119943.24,156547.42,256512.92,132602.65,0,1,0
15,114523.61,122616.84,261776.23,129917.04,0,0,1
16,78013.11,121597.55,264346.06,126992.93,1,0,0
17,94657.16,145077.58,282574.31,125370.37,0,0,1
18,91749.16,114175.79,294919.57,124266.90,0,1,0
19,86419.70,153514.11,0.00,122776.86,0,0,1
20,76253.86,113867.30,298664.47,118474.03,1,0,0
21,78389.47,153773.43,299737.29,111313.02,0,0,1
22,73994.56,122782.75,303319.26,110352.25,0,1,0
23,67532.53,105751.03,304768.73,108733.99,0,1,0
24,77044.01,99281.34,140574.81,108552.04,0,0,1
25,64664.71,139553.16,137962.62,107404.34,1,0,0
26,75328.87,144135.98,134050.07,105733.54,0,1,0
27,72107.60,127864.55,353183.81,105008.31,0,0,1
28,66051.52,182645.56,118148.20,103282.38,0,1,0
29,65605.48,153032.06,107138.38,101004.64,0,0,1
30,61994.48,115641.28,91131.24,99937.59,0,1,0
31,61136.38,152701.92,88218.23,97483.56,0,0,1
32,63408.86,129219.61,46085.25,97427.84,1,0,0
33,55493.95,103057.49,214634.81,96778.92,0,1,0
34,46426.07,157693.92,210797.67,96712.80,1,0,0
35,46014.02,85047.44,205517.64,96479.51,0,0,1
36,28663.76,127056.21,201126.82,90708.19,0,1,0
37,44069.95,51283.14,197029.42,89949.14,1,0,0
38,20229.59,65947.93,185265.10,81229.06,0,0,1
39,38558.51,82982.09,174999.30,81005.76,1,0,0
40,28754.33,118546.05,172795.67,78239.91,1,0,0
41,27892.92,84710.77,164470.71,77798.83,0,1,0
42,23640.93,96189.63,148001.11,71498.49,1,0,0
43,15505.73,127382.30,35534.17,69758.98,0,0,1
44,22177.74,154806.14,28334.72,65200.33,1,0,0
45,1000.23,124153.04,1903.93,64926.08,0,0,1
46,1315.46,115816.21,297114.46,49490.75,0,1,0
47,0.00,135426.92,0.00,42559.73,1,0,0
48,542.05,51743.15,0.00,35673.41,0,0,1
49,0.00,116983.80,45173.06,14681.40,1,0,0

In [24]:
#converting data into int datatype to avoid errors below.
prepareddata=newdata.astype(int)
prepareddata.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349,136897,471784,192261,0,0,1
1,162597,151377,443898,191792,1,0,0
2,153441,101145,407934,191050,0,1,0
3,144372,118671,383199,182901,0,0,1
4,142107,91391,366168,166187,0,1,0

In [27]:
prepareddata.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_California', 'State_Florida', 'State_New York'],
      dtype='object')

In [28]:
prepareddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   R&D Spend         50 non-null     int64
 1   Administration    50 non-null     int64
 2   Marketing Spend   50 non-null     int64
 3   Profit            50 non-null     int64
 4   State_California  50 non-null     int64
 5   State_Florida     50 non-null     int64
 6   State_New York    50 non-null     int64
dtypes: int64(7)
memory usage: 2.9 KB

## **Training Our Data**

In [29]:
# Import train_test_split from sklearn.model_selection
from sklearn.model_selection import train_test_split
# Here, X is the data which will have features and y will have our target.
x=prepareddata[['R&D Spend', 'Administration', 'Marketing Spend','State_California', 'State_Florida', 'State_New York']]  
y=prepareddata['Profit']

In [30]:
# Split data into training data and testing data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2) 
#Ratio used for splitting training and testing data is 8:2 respectively

## **Model Creation**

### Linear Regression

In [31]:
# Importing linear regression model
from sklearn.linear_model import LinearRegression 
reg1 = LinearRegression()

In [32]:
# Fitting data into the model.
reg1.fit(x_train, y_train)

LinearRegression()

In [33]:
# Making predictions 
pred1 = reg1.predict(x_test)

In [34]:
pred1

array([ 98484.89210481,  44026.08455385, 157308.22696881, 164609.14315337,
       151943.20929796,  56973.06829596,  84210.34971486, 116881.35386378,
       184161.16574319, 129863.57642281])

### Lasso Regression

In [35]:
# Importing model
from sklearn.linear_model import Lasso
reg2 = Lasso()

In [36]:
# Fitting data into the model.
reg2.fit(x_train, y_train)

Lasso()

In [37]:
# Making predictions 
pred2 = reg2.predict(x_test)

In [38]:
pred2

array([ 98481.63268423,  44030.60188057, 157304.38045446, 164612.05593362,
       151947.12473384,  56977.5034078 ,  84207.08582321, 116886.10440022,
       184159.91077455, 129867.79195108])

### Ridge Regression

In [39]:
# Importing model
from sklearn.linear_model import Ridge
reg3 = Ridge()

In [40]:
# Fitting data into the model.
reg3.fit(x_train, y_train)

Ridge()

In [41]:
# Making predictions 
pred3= reg3.predict(x_test)

In [42]:
pred3

array([ 98402.18973791,  44116.59986663, 157204.03565538, 164655.26881854,
       152009.91085477,  57060.68872438,  84122.19767986, 116963.88574768,
       184158.12254095, 129936.98380266])

## **Performance Check**

In [43]:
import numpy as np
from sklearn.metrics import mean_squared_error
print("Model\t\t\t RootMeanSquareError \t\t Accuracy of the model") 
print("""Linear Regression \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred1)), reg1.score(x_train,y_train)))
print("""Lasso Regression \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred2)), reg2.score(x_train,y_train)))
print("""Ridge Regression \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred3)), reg3.score(x_train,y_train)))

Model			 RootMeanSquareError 		 Accuracy of the model
Linear Regression 		 9085.1958 	 		 0.9487
Lasso Regression 		 9083.8880 	 		 0.9487
Ridge Regression 		 9052.1743 	 		 0.9487

#### **Conclusion**
* All 3 regression algorithms used in this project are equally efficient for the given dataset.
* RMSE for Ridge Regression is least.