<h1 style="color:blue;text-align:center;">TUPLE</h1>

<ul>
<li>Similar to a list in that it contains a collection of elements in ( ).</li>
<li>Elements in a tuple are immutable.</li>
<li>Only has two functions.</li>

</ul>

In [5]:
type(()) #type() fn prints the datatype of the argument passed to it
# () is of datatype 'tuple'

tuple

In [6]:
tup1 = (40, 50, 60, 70)
tup1
type(tup1)

tuple

In [7]:
mylist = [1,2,3,4]
mylist
type(tuple(mylist)) # tuple(arg) converts arg to tuple datatype if possible

tuple

In [8]:
list(tup1) # converts tuple into list

[40, 50, 60, 70]

In [9]:
tup2 = (
         (10, 10, 10, 10,2,2, 2, 3),
         ("cat", "dog", "bird"), 
         tup1
    )
print(tup2)

((10, 10, 10, 10, 2, 2, 2, 3), ('cat', 'dog', 'bird'), (40, 50, 60, 70))

In [10]:
tup2.count(2)

0

In [11]:
tup2[0].count(2)

3

In [12]:
tup2[1].index("bird")
tup2[1][2]

'bird'

In [13]:
tup3 = tuple(range(0,21, 2))
tup3

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [14]:
mylist = [10, 20, 30, 40]
mylist[3] = "hello"
mylist

[10, 20, 30, 'hello']

<h2>Tuples are mutable, meaning its value cannot be changed</h2>

In [15]:
# TUPLES ARE IMMUTABLE
tup2[2][3] = "hello"

TypeError: 'tuple' object does not support item assignment

In [16]:
tup4 = 1,2,3,4, False, True, True
tup4

(1, 2, 3, 4, False, True, True)

In [17]:
tup5 = tup4, True, False, 100, 9.1245, "string"
tup5

((1, 2, 3, 4, False, True, True), True, False, 100, 9.1245, 'string')

In [18]:
sum(tup4)

12

In [19]:
tup4.index(0)
tup4.count(1)

3