In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

## Defining all required functions for Gradient Descent

In [2]:
def cost(x_train,y_train,m):
    total_cost=0
    for i in range(len(x_train)):
        total_cost+=(1/len(x_train))*((y_train[i]-(m*x_train[i]).sum())**2)
    return total_cost

In [3]:
def step_gradient(x_train,y_train,learning_rate,m):
    M=len(x_train)
    N=len(x_train[0])
    m_slope=np.zeros(N)
    for i in range(M):
        for j in range(N):
            x=x_train[i]
            y=y_train[i]
            m_slope[j]+=(-2/M)*((y-(m*x).sum())*x[j])
    m=m-learning_rate*m_slope
    return m

In [4]:
def gd(x_train,y_train,learning_rate,no_of_iterations):
    M=len(x_train)
    m=np.zeros(len(x_train[0]))
    for i in range(no_of_iterations):
        m=step_gradient(x_train,y_train,learning_rate,m)
        #print(i,"Cost:",cost(x_train,y_train,m))
    print("Cost:",cost(x_train,y_train,m))
    return m

In [5]:
def predict(x_test, m):
    y_predict = np.zeros(len(x_test)) 
    for i in range(len(x_test)):
        y_predict[i] = (x_test[i] * m).sum()
    return y_predict

In [6]:
def score(x , y , m):
    u = 0
    v = 0
    mean = y.mean()
    for i in range(len(x)):
        u = u + ( y[i] - ( m * x[i] ).sum() ) ** 2
        v = v + ( y[i] - mean ) ** 2
    print("score :" , 1- (u/v))

In [7]:
def stocastic_step_gradient(x_train,y_train,learning_rate,m):
    M=len(x_train)
    N=len(x_train[0])
    m_slope=np.zeros(N)    
    for i in range (M):
        for j in range(N):
            x=x_train[i]
            y=y_train[i]
            m_slope[j] += (-2/M)*(y-(m*x).sum())*x[j]
            m[j]=m[j]-learning_rate*m_slope[j]            
    m = m - learning_rate * m_slope
    return m

In [8]:
def stocastic_gd(x_train,y_train,learning_rate,no_of_iterations):
    M=len(x_train)
    m=np.zeros(len(x_train[0]))
    for i in range(no_of_iterations):
        m=stocastic_step_gradient(x_train,y_train,learning_rate,m)
        #print(i,"Cost:",cost(x_train,y_train,m))
    print("Cost:",cost(x_train,y_train,m))
    return m

## Data Preprocessing

In [9]:
boston = pd.read_csv('0000000000002417_training_boston_x_y_train.csv')
boston

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990,37.9
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474,21.4
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076,12.7
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438,19.9
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007,22.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,-0.204929,-0.487722,1.231945,3.668398,0.434551,2.161728,1.053485,-0.833960,-0.523001,-0.031105,-1.736418,0.361122,-1.504494,50.0
375,0.231398,-0.487722,1.015999,-0.272599,1.367490,0.215644,0.687212,-0.703186,1.661245,1.530926,0.806576,-2.812183,0.499991,14.3
376,-0.408311,-0.487722,0.247057,-0.272599,-1.016689,-0.206055,-0.809889,0.140451,-0.523001,-0.060801,0.113032,0.332066,-0.334043,20.8
377,-0.410620,-0.487722,-1.152214,-0.272599,-0.818007,0.068904,-1.826921,0.674814,-0.637962,0.129256,-0.719220,0.203235,-0.744752,22.6
378,0.342909,-0.487722,1.015999,3.668398,0.659147,1.041946,1.028593,-1.232462,1.661245,1.530926,0.806576,0.387875,-1.358713,50.0

In [10]:
boston.shape

(379, 14)

In [11]:
boston.isnull().sum()

# CRIM      0
 ZN         0
 INDUS      0
 CHAS       0
 NOX        0
 RM         0
 AGE        0
 DIS        0
 RAD        0
 TAX        0
 PTRATIO    0
 B          0
 LSTAT      0
 Y          0
dtype: int64

In [12]:
boston.columns

Index(['# CRIM', ' ZN', ' INDUS', ' CHAS', ' NOX', ' RM', ' AGE', ' DIS',
       ' RAD', ' TAX', ' PTRATIO', ' B', ' LSTAT', ' Y'],
      dtype='object')

In [13]:
y_train = boston[' Y']
y_train = np.array(y_train)
boston.drop(" Y", inplace = True , axis = 1)
y_train.shape

(379,)

In [14]:
x_train = np.array(boston)
x_train.shape

(379, 13)

In [15]:
df = pd.DataFrame(x_train)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,-0.204929,-0.487722,1.231945,3.668398,0.434551,2.161728,1.053485,-0.833960,-0.523001,-0.031105,-1.736418,0.361122,-1.504494
375,0.231398,-0.487722,1.015999,-0.272599,1.367490,0.215644,0.687212,-0.703186,1.661245,1.530926,0.806576,-2.812183,0.499991
376,-0.408311,-0.487722,0.247057,-0.272599,-1.016689,-0.206055,-0.809889,0.140451,-0.523001,-0.060801,0.113032,0.332066,-0.334043
377,-0.410620,-0.487722,-1.152214,-0.272599,-0.818007,0.068904,-1.826921,0.674814,-0.637962,0.129256,-0.719220,0.203235,-0.744752
378,0.342909,-0.487722,1.015999,3.668398,0.659147,1.041946,1.028593,-1.232462,1.661245,1.530926,0.806576,0.387875,-1.358713

In [16]:
features = df.columns
b=13
for a in features:
    df[b]=df[a]*df[a]
    b+=1
c=26
for a in features:
    df[c]=df[a]*df[a]*df[a]
    c+=1
d=39
for a in features:
    df[d]=df[a]*df[a]*df[a]*df[a]
    d+=1
x_train = np.array(df)
x_train = np.append(x_train , np.ones((len(x_train),1), dtype = int) , axis = 1)
x_train = scaler.fit_transform(x_train)
x_train.shape

(379, 53)

In [17]:
x_test = pd.read_csv('0000000000002417_test_boston_x_test.csv',header=None)
df = x_test
features = df.columns
b=13
for a in features:
    df[b]=df[a]*df[a]
    b+=1
c=26
for a in features:
    df[c]=df[a]*df[a]*df[a]
    c+=1
d=39
for a in features:
    df[d]=df[a]*df[a]*df[a]*df[a]
    d+=1
x_test = np.array(df)
x_test = np.append(x_test , np.ones((len(x_test),1), dtype = int) , axis = 1)
x_test = scaler.transform(x_test)
x_test.shape

(127, 53)

## Applying in-built Linear Regression

In [18]:
%%time
from sklearn.linear_model import LinearRegression
alg = LinearRegression()
alg.fit(x_train , y_train)
print(alg.score(x_train , y_train))

0.8521712084300799
Wall time: 66 ms

## Applying stocastic GD

In [21]:
%%time
learning_rate = 0.01
num_iterations = 300
m = stocastic_gd(x_train,y_train, learning_rate, num_iterations)
score(x_train , y_train , m)

Cost: 16.69247387223295
score : 0.8101679173520975
Wall time: 32.3 s

## Applying GD

In [20]:
%%time
learning_rate = 0.12
num_iterations = 2000
m = gd(x_train,y_train, learning_rate, num_iterations)
score(x_train , y_train , m)

Cost: 15.936646208455949
score : 0.8187634281575007
Wall time: 3min 10s

## Making predictions using Gradient Descent

In [22]:
y_predict = predict(x_test,m)
#y_predict = np.around(y_predict , 5)
np.savetxt('0000000000002417_test_boston_y_test.csv' , y_predict)