# <u><center><i><font color="blue">BOOLEAN AND COMPARISON OPERATORS</font></i></center></u>

### <i><font color="indigo">COMPARISON OPERATORS</font></i>


```python
    <
    >
    >=
    <=
    and 
    or
```

- Can be used in chain comparison operations.


### <i><font color="blue">BOOLEAN OPERATORS</font></i>

- <b><font color="green">True</font></b>. Numerical substitute is <b><font color="green">1</font></b>.
- <b><font color="green">False</font></b>. Numerical substitute is <b><font color="green">0</font></b>.



### <b><font color="orange">INVERSE BOOLEAN</font></b>

- The <b><font color="green">not</font></b> statement can be used to create an inverse boolean output.

### <b><font color="purple">MEMBERSHIP OPERATOR</font></b>

- The <b><font color="green">in</font></b> statement checks if a variable is also found in another variable.

In [2]:
True

True

In [3]:
False

False

In [4]:
not True

False

In [5]:
not False

True

In [7]:
True == 1

True

In [8]:
False == 0

True

In [21]:
True and True
False and False
True and False
True or False

True

In [27]:
10 == 10
10 != 10
10 != 2
50 == 2

False

In [25]:
200 >= 2001
500 <= 3000

True

In [16]:
10 > 1 and 4 == 4
10 > 1 and 4 != 4

False

In [40]:
var = "house"
var2 = "cinema"
var3 = "temple"

In [33]:
"o" in var

"n" in var
"n" not in var

True

In [47]:
24 >= 20 > 4 == 4 or 50 < 100 >40 != 40

True

In [53]:
"h" in var and "z" not in var3 and 10 > 4 != 50 and 4000 <= 5000

True

In [43]:
print(var, var2, var3)

house cinema temple