In [1]:
from sklearn import datasets

In [2]:
boston = datasets.load_boston()
X1 = boston.data
Y1 = boston.target

In [3]:
X1.shape

(506, 13)

In [4]:
import pandas as pd
df1 = pd.DataFrame(X1)
df2 = pd.DataFrame(X1)

In [5]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [6]:
df1.columns = boston.feature_names
df2.columns = boston.feature_names

In [7]:
df1["age_age"] = df1.AGE ** 2
print(df1.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'age_age'],
      dtype='object')

In [8]:
df1.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,age_age
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000

In [9]:
X2 = df1.values
X2

array([[6.32000e-03, 1.80000e+01, 2.31000e+00, ..., 3.96900e+02,
        4.98000e+00, 4.25104e+03],
       [2.73100e-02, 0.00000e+00, 7.07000e+00, ..., 3.96900e+02,
        9.14000e+00, 6.22521e+03],
       [2.72900e-02, 0.00000e+00, 7.07000e+00, ..., 3.92830e+02,
        4.03000e+00, 3.73321e+03],
       ...,
       [6.07600e-02, 0.00000e+00, 1.19300e+01, ..., 3.96900e+02,
        5.64000e+00, 8.28100e+03],
       [1.09590e-01, 0.00000e+00, 1.19300e+01, ..., 3.93450e+02,
        6.48000e+00, 7.97449e+03],
       [4.74100e-02, 0.00000e+00, 1.19300e+01, ..., 3.96900e+02,
        7.88000e+00, 6.52864e+03]])

In [10]:
X2.shape

(506, 14)

In [11]:
X3 = df2.values
X3.shape

(506, 13)

In [12]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(2 , interaction_only = False , include_bias = False)
X3_poly = poly.fit_transform(X3)

In [13]:
from sklearn import model_selection
X1_train, X1_test, Y1_train, Y1_test = model_selection.train_test_split(X1, Y1, random_state = 0)
X2_train, X2_test, Y2_train, Y2_test = model_selection.train_test_split(X2, Y1, random_state = 0)
X3_train, X3_test, Y3_train, Y3_test = model_selection.train_test_split(X3_poly, Y1, random_state = 0)

In [14]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg2 = LinearRegression()
alg3 = LinearRegression()

In [15]:
alg1.fit(X1_train, Y1_train)
alg2.fit(X2_train, Y2_train)
alg3.fit(X3_train, Y3_train)

LinearRegression()

In [16]:
train_score = alg1.score(X1_train, Y1_train)
test_score = alg1.score(X1_test, Y1_test)
print("Train Score: ", train_score)
print("Test Score: ", test_score)

train2_score = alg2.score(X2_train, Y2_train)
test2_score = alg2.score(X2_test, Y2_test)
print("Train2 Score: ", train2_score)
print("Test2 Score: ", test2_score)

train3_score = alg3.score(X3_train, Y3_train)
test3_score = alg3.score(X3_test, Y3_test)
print("Train3 Score: ", train3_score)
print("Test3 Score: ", test3_score)

Train Score:  0.7697699488741149
Test Score:  0.6354638433202129
Train2 Score:  0.7707245449911091
Test2 Score:  0.6433109272342966
Train3 Score:  0.9520519609032728
Test3 Score:  0.607472195968976

In [17]:
# Polynomial Regression is a form of linear regression in which the relationship between the independent variable x and 
# dependent variable y is modeled as an nth degree polynomial.