In [1]:
import pymongo

In [2]:
# To create a database in MongoDB, first create a MongoClient object

client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

# mongodb is the protocol
# 127.0.0.1 is the localhost name
# 27017 is the port no.

In [3]:
# to see all databases present

client.list_database_names()

['admin', 'config', 'local']

In [31]:
# to create a database of name college

db = client["college"]

In [6]:
db

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'college')

In [32]:
# to create a collection of name student

collection = db.student

# another way to create:  collection = db["student"]

In [8]:
# to see the collections present, it is showing empty list bcos we have not entered any document to the collection

db.list_collection_names()

[]

In [33]:
# creating document

records = [
    {'_id' : 1 , 'name' : "suryansh" , 'age' : 20},
    {'_id' : 2 , 'name' : "ram" , 'age' : 22},
    {'_id' : 3 , 'name' : "shyam" , 'age' : 19},
    {'_id' : 4 , 'name' : "harshad" , 'age' : 21},
    {'_id' : 5 , 'name' : "sam" , 'age' : 20},
    {'_id' : 6 , 'name' : "aryan" , 'age' : 30},
    {'_id' : 7 , 'name' : "divyansh" , 'age' : 10}
          ]

In [34]:
# inserting documents in a collection

collection.insert_many(records)

In [35]:
collection.count_documents({})

7

In [12]:
db.list_collection_names()

['student']

# Querying

In [13]:
# returns the first occurrence in the selection.

collection.find_one()

{'_id': 1, 'name': 'suryansh', 'age': 20}

In [14]:
# returns all document

for i in collection.find():
    print(i)

{'_id': 1, 'name': 'suryansh', 'age': 20}
{'_id': 2, 'name': 'ram', 'age': 22}
{'_id': 3, 'name': 'shyam', 'age': 19}
{'_id': 4, 'name': 'harshad', 'age': 21}
{'_id': 5, 'name': 'sam', 'age': 20}
{'_id': 6, 'name': 'aryan', 'age': 30}
{'_id': 7, 'name': 'divyansh', 'age': 10}

In [15]:
for i in collection.find({},{ "_id": 0, "name": 1, "age": 1 }):
    print(i)

{'name': 'suryansh', 'age': 20}
{'name': 'ram', 'age': 22}
{'name': 'shyam', 'age': 19}
{'name': 'harshad', 'age': 21}
{'name': 'sam', 'age': 20}
{'name': 'aryan', 'age': 30}
{'name': 'divyansh', 'age': 10}

In [17]:
for i in collection.find({'name' : 'suryansh'} , {'_id' : 0 , 'name' : 1 , 'age' : 1}):
    print(i)

{'name': 'suryansh', 'age': 20}

In [18]:
for i in collection.find({'name' : {'$gt' : 's'}} , {'_id' : 0 , 'name' : 1 , 'age' : 1}).limit(2):
    print(i)

{'name': 'suryansh', 'age': 20}
{'name': 'shyam', 'age': 19}

In [20]:
for i in collection.find({'$and' : [{'name' : {'$gt' : 's'}} , {'age' : {'$eq' : 20}}]} , {'_id' : 0 , 'name' : 1 , 'age' : 1}):
    print(i)

{'name': 'suryansh', 'age': 20}
{'name': 'sam', 'age': 20}

In [21]:
# query to find the name that starts with s
# note to apply filter to strings use:   $regex
# sort() to sort the data in ascending(1) and descending order(-1) based ona paricular feild 

for i in collection.find({ "name": { "$regex": "^s" }} , {'_id' : 0 , 'name' : 1 , 'age' : 1}).sort("name", 1):
    print(i)

{'name': 'sam', 'age': 20}
{'name': 'shyam', 'age': 19}
{'name': 'suryansh', 'age': 20}

In [22]:
for i in collection.find():
    print(i)

{'_id': 1, 'name': 'suryansh', 'age': 20}
{'_id': 2, 'name': 'ram', 'age': 22}
{'_id': 3, 'name': 'shyam', 'age': 19}
{'_id': 4, 'name': 'harshad', 'age': 21}
{'_id': 5, 'name': 'sam', 'age': 20}
{'_id': 6, 'name': 'aryan', 'age': 30}
{'_id': 7, 'name': 'divyansh', 'age': 10}

In [23]:
# deletes first document

collection.delete_one({})

In [24]:
for i in collection.find():
    print(i)

{'_id': 2, 'name': 'ram', 'age': 22}
{'_id': 3, 'name': 'shyam', 'age': 19}
{'_id': 4, 'name': 'harshad', 'age': 21}
{'_id': 5, 'name': 'sam', 'age': 20}
{'_id': 6, 'name': 'aryan', 'age': 30}
{'_id': 7, 'name': 'divyansh', 'age': 10}

In [27]:
# deletes all documents 

collection.delete_many({})

In [28]:
for i in collection.find():
    print(i)

In [25]:
collection.delete_many({'name' : {'$gt': "s"}})

In [26]:
for i in collection.find():
    print(i)

{'_id': 2, 'name': 'ram', 'age': 22}
{'_id': 4, 'name': 'harshad', 'age': 21}
{'_id': 6, 'name': 'aryan', 'age': 30}
{'_id': 7, 'name': 'divyansh', 'age': 10}

In [29]:
# drop() method returns true if the collection was dropped successfully, and false if the collection does not exist

collection.drop()

In [36]:
client.database_names()

<ipython-input-36-896185ff0974>:1: DeprecationWarning: database_names is deprecated. Use list_database_names instead.
  client.database_names()

['admin', 'college', 'config', 'local']

In [37]:
myquery = { "name": "aryan" }
newvalues = { "$set": { "name": "akarsh" } }

collection.update_one(myquery, newvalues)

In [38]:
for i in collection.find():
    print(i)

{'_id': 1, 'name': 'suryansh', 'age': 20}
{'_id': 2, 'name': 'ram', 'age': 22}
{'_id': 3, 'name': 'shyam', 'age': 19}
{'_id': 4, 'name': 'harshad', 'age': 21}
{'_id': 5, 'name': 'sam', 'age': 20}
{'_id': 6, 'name': 'akarsh', 'age': 30}
{'_id': 7, 'name': 'divyansh', 'age': 10}

In [49]:
myquery = { "name": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

collection.update_many(myquery, newvalues)

In [50]:
for i in collection.find():
    print(i)

{'_id': 1, 'name': 'suryansh', 'age': 20}
{'_id': 2, 'name': 'ram', 'age': 22}
{'_id': 3, 'name': 'shyam', 'age': 19}
{'_id': 4, 'name': 'harshad', 'age': 21}
{'_id': 5, 'name': 'sam', 'age': 20}
{'_id': 6, 'name': 'akarsh', 'age': 30}
{'_id': 7, 'name': 'divyansh', 'age': 10}